################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RobotDreams.API/bin/Debug/net7.0
/RobotDreams.API/obj
/RobotDreams.API/21e11cbb-31fa-4c7f-9ed2-0fd720b20144.xml
/RobotDreams.API/22b0970c-2783-49fb-b5cf-7d00ddfcff32.xml
/RobotDreams.API/755a1346-0b57-4034-8582-e57a4dd1c773
